* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: Pretendard;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: #fff;
}

button:hover,
a:hover {
  font-weight: 600;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  align-items: center;
  background-color: #60ae2b;
  padding: 20px 0;
}

header h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin: 0 auto;
}

.header__btn-group {
  visibility: hidden;
  width: 100px;
  padding: 10px 0;
  margin-left: 30px;
  position: absolute;
  float: left;
}

.header__btn-group button:first-child {
  margin-bottom: 5px;
}

main {
  display: flex;
  padding: 30px;
}

aside {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  background-color: #c2e0ad;
}

aside h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.sidebar {
  flex: 0.5;
  min-width: 156px;
}

.sidebar__brand-btn {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.sidebar__brand-btn.active {
  color: #fff;
  background-color: #000;
}

.burger {
  flex: 3.5;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: auto 20px;
}

.burger__card {
  display: flex;
  gap: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 8px;
  width: 45%;
  padding: 40px 20px;
  cursor: pointer;
}

.burger__card:hover {
  background-color: #e3ffce;
}

.burger__card:hover > img {
  transform: scale(1.1);
}

.burger__card:hover .burger__name {
  color: #60ae2b;
  border-bottom: 3px double #000;
}

.burger__card > img {
  width: 150px;
  object-fit: contain;
}

.burger__content > * + * {
  margin-top: 12px;
}

.burger__name {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 5px;
}

.burger__description {
  line-height: 1.5;
  word-break: keep-all;
}

.cart {
  flex: 1;
  position: sticky;
  top: 30px;
  min-width: 235px;
}

.cart__list,
.cart__sum {
  padding-bottom: 30px;
  border-bottom: 2px dashed #000;
}

.cart__item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  list-style: none;
}

.item__name,
.item__price {
  flex: 1;
  min-width: fit-content;
}

.item__count {
  flex: 1;
  width: 50px;
  max-width: fit-content;
}

.item__delete-btn {
  flex: 1;
  text-align: right;
  font-weight: 600;
  background-color: transparent;
}

.item__delete-btn:hover {
  box-shadow: none;
}

.cart__btn-group {
  margin: 10px auto;
}

.cart__btn-group button {
  padding: 10px 15px;
  border-radius: 10px;
}

.cart__btn-group button + button {
  margin-left: 15px;
}

.modal__background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal__background.show,
.modal__body.show {
  display: block;
}

.modal__body {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  min-width: fit-content;
  text-align: center;
  padding: 40px 20px;
  border-radius: 30px;
  background-color: #fff;
}

.modal__body p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.modal__btn-group * {
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
}

.modal__btn-group a {
  text-decoration: none;
  color: #000;
  background-color: skyblue;
  margin-right: 10px;
}

.modal__btn-group button {
  background-color: pink;
}

@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }

  .sidebar__brand-btn {
    padding: 2px;
    font-size: 12px;
  }

  .header__btn-group {
    visibility: visible;
  }
}

@media (max-width: 1100px) {
  .burger {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .burger__card {
    width: 400px;
    margin: 0 auto;
  }
}
