* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  background-color: #bc9bfd;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

hr {
  width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

header {
  text-align: center;
  color: white;
  padding: 5px 10px;
  margin-bottom: 15px;
  background-color: #8040ff;
}

header > h1 {
  font-size: 24px;
}

header > h2 {
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

section.scoreBoard {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #bc9bfd;
  padding: 10px;
}

div.imageBoard {
  padding: 15px;
  height: 350px;
  display: flex;
  align-items: center;
}

div.imageBoard > img {
  width: 100%;
  max-height: 100%;
  border-radius: 18px;
  border: 1px solid #8040ff;
}

.modal.hide {
  display: none;
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 18px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.answer > header {
  border-radius: 18px;
}

.answer__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.answer__list > li {
  width: fit-content;
  padding: 10px;
  border-radius: 34px;
  font-size: 14px;
  color: black;
  background-color: #e2d3ff;
  list-style: none;
  cursor: pointer;
}

.buttonList {
  position: relative;
  width: 100%;
  display: flex;
  padding: 5px 10px;
}

.buttonList > button {
  margin: 0 auto;
  width: 50%;
  font-size: 16px;
}

@keyframes score {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.5);
  }
}
